body{
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}
#main{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#left{
	width: 460px;
	float: left;
	display: inline-block;
}	
	
#right{
	width: 460px;
	float: left;
	display: inline-block;
}	

#results{
	width:342px;
	border-top: none;
	overflow: scroll;
	visibility: hidden;
}

.result{
	padding: 5px 5px 5px 10px;
}

.pac-container{
	width:359px !important;
	margin-left: 3px;
	background-color: white;
	border: thin solid #c6c6c6;
	border-top: none;
}

.pac-item{
	padding: 5px 5px 5px 10px;
}

.result:hover{
	background-color: #dae1ff;
	cursor: pointer;
}

.result_primary{
	margin: 0px;
}
.result_secondary{
	margin: 0px;
	font-size: 10pt;
	color: gray;
}

/* !iPhone Inner */
#iphone_outer{
	width: 300px;
	height: 500px;
	background-image: url(../img/create_iphone_blank.png);
	background-origin: 0px,0px;
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 170.6px;
	padding-left:60.5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#iphone_inner{
	background-color: rgba(0,0,0,0);
	width: 278px;
	height: 335px;
}

#uploaded_img{
	width: 100%;
	height: 98px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*
#uploaded_img:hover{
	cursor: pointer;
}
*/

/* !Input styles */
#deal_form{
	text-align: left;
}

input {
	text-decoration: none;
}

input[type=file]{
	font-size: 12pt;
	font-family: Helvetica;
	font-weight: 200;
}

.input_error{
	color: red;
}

/*
input[type=file]{
	font: 40px monospace;
	width: 200px;
	opacity:0;
    filter: alpha(opacity=0);
    position: absolute;
    z-index: 1;
    padding:0;
    margin: 0;
}
input[type=file]:hover{
	cursor: pointer;
}


#fake_upload_button{
	width: 100px;
	height: 20px;
	background-color: white;
	
}*/

#deal_submit{
	display: block;
	margin-top: 50px;
	margin-left: 150px;
}

.textIn{
	font-size: 16pt;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	width: 350px;
	border: none;
	background-image: url(../img/text_cradle.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	padding-left: 12px;
	padding-right: 5px;
}

.textIn:focus{
	outline: none;
}

/* !Text styles */
.prompt{
	font-weight: 300;
	margin-top: 50px;
}

.aide{
	font-size: 10pt;
	font-style: italic;
	color: gray;
	margin-top: 5px;
	margin-left: 30px;
}
#headerText{
	margin-top: 50px;
	text-align: center;
	font-size: 20pt;
	font-weight: 200;
	margin-bottom: 50px;
}

.pane_header{
	font-size: 14pt;
	font-weight: 200;
}

#deal_line1{
	font-family: Century;
	font-weight: 100;
	font-size: 14pt;
	margin-top: 5px;
	margin-bottom: 0px;
	overflow: hidden;
}

#deal_line2{
	margin-top: 0px;
	font-family: Century;
	font-size: 10pt;
	color: gray;
	overflow: hidden;
}

.dealText{
	font-family: Century;
	font-size: 10pt;
	text-align: left;
	margin: 0px 8px 0px 8px;
	overflow: hidden;
}

#deal_description{
	height: 50px;
}

#deal_business{
	margin-top: 20px;
}

#deal_address{
	color: grey;
}

#business_select{
	margin-bottom: 0px;
}