#main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
/*	overflow:hidden;*/
}

a{
	color: #222222;
}

#top{
	text-align: left;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
}


#account{
	overflow: hidden;
	margin-top: 50px;
	border-bottom: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
	padding-bottom: 50px;
	height: 125px;
}

#business{
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 50px;
	
}

.left{
	font-size: 14pt;
	float: left;
	display: block;
	text-align: left;
	width: 200px;
}

.right{
	float: left;
	display: block;
	text-align: left;
	padding-right: 40px;
	margin-left: 25px;
}
.righter{
	float:left;
}
div.error label{
	color: #B61318;
}
/*div.error input{
	border-color: #B61318;
}*/
label{
	float:left;
	width: 150px;
	text-align: right;
/*	vertical-align: middle;*/
	margin-right: 20px;
	color: #555555;
}
input{
	float:left;
	font-size: 12pt;
	display: block;
/*	margin-bottom: 15px;*/
}

.right-text{
/*	margin-bottom: 10px;*/
	float: left;
	display: inline-block;
}
form{
	
/*	display: inline-block;*/
/*	float: left;*/
}
#error_field{
	color:#B61318;
	font-size: 10pt;
	margin-top: 100px;
}

form.hidden{
	display: none;
	/*position:absolute;
	right: 1000px;*/
}
/* button */
.button {
	margin-top: 10px;
	zoom: 1;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .4em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	float:right;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	prosition: relative;
	top: 1px;
}
/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}