body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background-color: #181818;*/
	color: #333335;
}

#merchants-link{
	background-color: #333335;
	position: absolute;
	z-index: 99999;
	text-decoration: none;
	font-weight: 600;
	top: 0px;
	right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #f9f9f9;
}

#merchants-link:hover{
	background-color: gray;
}

#top{
	height: 700px;
	margin-top: 0px;
	/*background-color: #e1e1e1;*/
	background-color: white;
	
}

#iphonehand{
	left: 50%;
	margin-left: -711px;
	height: 800px;
	position: absolute;
	z-index: 123;
	margin-bottom: 0px;
	margin-top: -80px;
	overflow: hidden;
}

#textContainer{
	position: absolute;
	left: 50%;
	margin-left: -670px;
	z-index: 1000;
	margin-top: 100px;
	width: 400px;
	height: 300px;
	overflow: hidden;
}



.textHead{
	font-size: 40pt;
}

.textBody{
	font-size: 20pt;
	font-weight: 200;
}

.textBlock{
	position: absolute;
}

#betaBlock{
	position: absolute;
	left: 50%;
	margin-left: 300px;
	margin-top: 300px;
	z-index: 500;
	width: 300px;
	height: 200px;
}

#requestBeta{
	margin-top: 5px;
	width: 230px;
	font-size: 14pt;
	font-weight: 600;
}

#inviteRequested{
	text-align: center;
	font-weight: 500;
	font-size: 14pt;
}

#betaHead{
	font-weight: 600;
	color: #282828;
	font-size: 20px;
}

#betaPrompt{
	font-weight: 600;
	color: gray;
}

#email{
	font-size: 12pt;
	width: 290px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
}

#email:focus{
	outline: none;
}

#iphone-inner{
	position: absolute;
	left: 50%;
	z-index: 122;
	width: 254px;
	height: 381px;
	margin-top: 165px;
	margin-left: -127px;
}

#img1{
	/*width: 254px;*/
	height: 381px;
	background-image: url(../img/3wide.png);
}

#bigText{
	padding: 20px;
	left: 50%;
	margin-left: -470px;
	margin-top: 100px;
	position: absolute;
	z-index: 10;
	background-color: rgba(0,0,0,0.8);
}

#main{
	width: 940px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#main-wrapper{
	background-image: url(../img/paper.jpg);
	width: 100%;
	height: 1100px;
	color: white;
}

#koth,#exclusive{
	float: right;
}

.featureImg{
	margin-bottom: 40px;
	width: 400px;
}

.featureImg:hover{
	background-color: rgba(180,200,225,0.49);
	/*background-color: rgba(79,167,93,0.43);*/
	cursor: pointer;
}

#voteHead{
	margin-top: 30px;
	font-weight: 600;
	color: #333335;
	font-size: 30pt;
	margin-bottom: 0px;
}

#voteSec{
	margin-top: 10px;
	font-weight: 300;
	color: #333335;
	font-size: 15pt;
}
/*
#footer{
	width: 100%;
	height: 200px;
	background-color: #333335;
	margin-top: 0px;
	color: #f4f4f4;
}

#footer-container{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#footer-left{
	display: block;
	float: left;
}

#footer-right{
	display: block;
	float: right;
	text-align: right;
}

#footer-link{
	color: #f4f4f4;
	text-decoration: none;
	line-height: 200%;
}
*/
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}