body{
}
#main{
	overflow:hidden;
	
}
#top{
	margin-top:50px;
}
#widget_tag{
	width:900px;
	text-align: center;
}
#body{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
#left{
	float:left;
	width:35%;
	margin-top:23px;
}

#topText{
	margin-bottom:20px;
}
#bottomText{
	margin-top:20px;
}
#topText, #bottomText{
	
}

#right{
	float:right;
	margin-bottom: 50px;
}