body{
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

#nav{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 1000px;
}

#main{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	width: 900px;
}

#footer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#header{
	background-color: #313131;
	height: 40px;
}

#header_logo{
	width: 80px;
	margin-left: 20px;
	margin-top: 3px;
}

#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	width: 940px;
}