body{
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

#container{
	text-align: center;
	margin-top: 50px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-color: #666666;
	border-width: thin;
	border-style: solid;
	border-radius: 10px;
	margin-bottom: 50px;
	box-shadow: 1px 1px 12px gray;
}

#shareText{
	margin-top: 50px;
	text-align: center;
	font-size: 20pt;
	font-weight: 200;
	margin-bottom: 50px;
}

#dealImg{
	width: 600px;
	height: 150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#dealText{
	font-weight: 300;
	font-size: 18pt;
	margin-bottom: 0px;
}

#dealTextExtra{
	font-weight: 200;
	font-size: 13pt;
	color: #777777;
	margin-top: 0px;
	margin-bottom: 5px;
}

#business_string{
	font-weight: 400;
	font-size: 13pt;
	color: #909090;
	margin-top: 0px;
	margin-bottom: 0px;
}

#description{
	font-style: italic;
	font-weight: 200;
	margin-bottom: 0px;
	padding: 20px;
	margin-top: 0px;
}

#app{
	overflow: hidden;
}

#phoneImg{
	width: 300px;
	float: left;
}

#save_money{
	margin-top: 70px;
	margin-bottom: 30px;
}

#download{
	width: 400px;
	font-size: 20pt;
	margin-bottom: 20px;
}

#loginorsignup{
	font-weight: 200;
	font-size: 10pt;
}

#forms{
	text-align: center;
	height: 200px;
}

#login{
	display: block;
	float: left;
	width: 250px;
	text-align: center;
	margin-left: 25px;
}

#signUp{
	display: block;
	float: left;
	width: 250px;
	text-align: center;
	margin-left: 50px;
	margin-right: 25px;
}

.textIn{
	font-size: 16pt;
	font-weight: 200;
	margin-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	border: none;
	background-image: url(../img/text_cradle.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-left: 12px;
	padding-right: 5px;
}

.textIn:focus{
	outline: none;
}



.colHead{
	margin-bottom: 30px;
}

#btnLogin{
	margin-top: 49px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#tos{
	display: block;
	text-align: center;
	width: 100%;
	font-size: 10pt;
	font-weight: 200;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.error{
	font-size: 10pt;
	color: red;
}

#downloadButtons{
	margin-top: 20px;
	text-align: center;
	width: 600px;
	margin-bottom: 30px;
}

.store-icon{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.store-icon:hover{
	opacity: 0.7;
	-moz-opacity:.70;
    filter:alpha(opacity=70);
}