<html>
	<body>
	<div>
		<img src="./admin/pendingImage/{{ image_key }}">
		<p>Business name: {{business_name}}</p>
		<p>Secondary name: {{secondary_name}}</p>
	</div>
	<form method="post" action="/login">
		<p><strong>Deal type:</strong> </br>
		<input type="radio" name="discount_type" value="percent"> Percent </br>
		<input type="radio" name="discount_type" value="monetary"> Monetary </br>
		<input type="radio" name="discount_type" value="free"> Free </br>
		</p>
		<p>Deal Value: <input type="text" name="discount_value"></p>
		<p>Tags: <textarea rows="3" name="tags" placeholder="separate by commas"></textarea></p>
		<p>Location: <input type="password" name="password"></p>
		<input type="submit" value="Login">
	</form>
	
	<p>
		<h2>Or <a href="./merchants/deal/new">sign up:</a></h2>
	</p>
	
	</body>
</html>

