{% extends "templates/merchantsBase.html" %}

{% block htmlhead %}
<link rel="stylesheet" href="../css/editAccount.css">
{% endblock %}



{% block content %}
<div id='main'>
	<div id='top'>Account Details</div>
	<div id='account'>
		<div class='left'><span>Account Information</span></div>
		<div class='right'>
			<span class="right-text">{{ owner.email }}</span>
			</div>
	</div>
	<div id='business'>
		<div class='left'><span>Business Information</span></div>
		<div class='right'>
			<span class="right-text">{{ business.business_name }}</span><br />
			<span class="right-text">{{ business.vicinity }}</span>
		</div>
	</div>
</div>
{% endblock %}





{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("jquery", "1.4.2");
</script>
<script src="../js/editAccount.js" type="text/javascript"></script>
{% endblock %}
