{% extends "templates/merchantsBase.html" %}

{% block htmlhead %}
<link rel="stylesheet" href="../css/manageOffers.css">
{% endblock %}

{% block content %}
<div id='main'>
	<span id="title">Upload Deals via Email</span>
	<p>Uploading a deal via email is simple. Send an email to [unique email address] and include the following items:</p>
	<p>The promotion  (e.g. free tacos with purchase of bleach)</p>
	<p>A picture of the object of the promotion</p>
	<p>Tell us a little about this special. Why is it awesome?</p>
	<p>If the promotion is being offered for a limited time, be sure to include the expiration date (e.g. expires Feb 9, 2012) (e.g. expires 2/9/2012)</p>
	
</div>
{% endblock %}
