<html>
<body style="background-color: #f3f3f3; margin:0; font-family: helvetica, arial,sans-serif;">
	<div style="background-color: white; width: 80%; margin-left: auto; margin-right: auto; height:auto; margin-top: 15px; margin-bottom: 15px;">
		<div style="padding:20px;">
			<p style="font-size: 20pt; font-weight: 300; text-align:center;">Welcome to Levr Beta.</p>
			<p style="font-size: 15pt; font-weight: 300; margin-top: 50px;">On behalf of the Levr team, it's great to have you aboard.</p>
			<p style="font-size: 15pt; font-weight: 300;">We're sending out invitations on a first-come, first-serve basis. We've reserved you a spot in line, and we'll let you know as soon as you can download Levr.</p>
			<p style="font-size: 15pt; font-weight: 300;">In the meantime, feel free to keep up with us via our <a href="http://blog.levr.com">blog</a>, or shout at us on <a href="http://twitter.com/getlevr">twitter</a>.</p>
			<p style="font-size: 15pt; font-weight: 300; margin-top: 50px;">See you soon!</p>
			<p style="font-size: 15pt; font-weight: 300;">-Levr</p>
		</div>
	</div>
</body>
</html>