<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/landing_v2.css">
		<link rel="stylesheet" href="../css/footer.css">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
      
      <script>var startTime = (new Date()).getTime();</script>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		
		<!--MIXPANEL-->
		<script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.0.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("115b36ec63eb2cb70bb9196c58046f6f");</script>
      
	</head>
	<body>
		<!--div id="loginBox">
			<form id="loginForm" method="post" action="merchants/login">
				<p id="loginWelcome">Welcome back! </p>
				<input class="loginInput" id="emailInput" type="text" placeholder="Email" name="email">
				<input class="loginInput" id="pwInput" type="password" placeholder="Password" name="pw">
				<a id="btnHelp" class="button white">Help</a>
				<a id="btnLogin" class="button green">Login</a>
			</form>
			<div id="loginStub"><p id="loginStubText">Login</p></div>
		</div-->
		
		<div id="top">
			<a id="merchants-link" href="http://levr.com/merchants">Merchants</a>
			<div id='textContainer'>
				<div id="text1" class="textBlock">
					<!--p class="textHead">Save Money.</p>
					<p class="textBody">Find discounts in your neighborhood on clothing, food, and more.</p-->
					<img id="textImg" src="../img/text.png">
				</div>
				<!--div id="text2" class="textBlock">
					<p class="textHead">Earn Money.</p>
					<p class="textBody">Some stuff about earning money.</p>
				</div-->
			</div>
			<img id="iphonehand" src="../img/iphone_hand_white.png">
			<div id="iphone-inner">
				<div id="img1" class="img_slide"></div>
			</div>
			<div id="betaBlock">
				<p id="betaHead">Levr is currently in private beta.</p>
				<input type="text" id="email" name="email" placeholder="Your email">
				<a id="requestBeta" class="button white">Request invite</a>
				<p id="inviteRequested" hidden>Your beta invite has been requested.</p>
			</div>
		</div>
		<div id="main-wrapper">
		<div id="main">
			<p id="voteHeada">&nbsp</p>
			<p id="voteHead">What we're working on: </p>
			<p id="voteSec">Upvote features you like - we're listening. The more upvotes a feature gets, the sooner it will be released.</p>
			<img id="playlists" class="featureImg"  src="../img/playlists.png">
			<img id="koth" class="featureImg" src="../img/koth.png">
			<img id="alerts" class="featureImg" src="../img/alerts.png">
			<img id="exclusive" class="featureImg" src="../img/exclusive.png">			
			</div>
		</div>
		
		<div id="footer">
			<div id="footer-container">
				<div id="footer-left">
					<a class="footer-link" href="/">Users</a>
					</br>
					<a class="footer-link" href="/merchants">Merchants</a>
					</br>
					<p id="copyright">Copyright Levr, Inc. 2012</p>
				</div>
				<div id="footer-right">
					<a class="footer-link" href="http://blog.levr.com">Blog</a>
					</br>
					<a class="footer-link" href="http://angel.co/levr">AngelList</a>
					</br>
					<a class="footer-link" href="http://twitter.com/getlevr">Twitter</a>
					</br>
				</div>
			</div>
		</div>
	
		<script type="text/javascript">
			google.load("jquery", "1.4.2");
		</script>
		<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script-->
		<script src="../js/landing_v2.js"></script>
	</body>
</html>