<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to Levr.</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
		<meta name="author" content="Patrick Walsh, Alonso Holmes, Ethan Sherr">
		<!-- Le styles
		=======================================================-->
		<link href="../css/landing_mobile.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="../img/favicon.png">
	</head>
	<body>
		<div id="header">
			<!--div id='bg'></div-->
			<div id="band">
				<img id="logo" src='../img/levr_logo.png'>
			</div>
			
			<div id="container">
				<p class="headerText">Save money.</p>
				<p class="pane_header">Find discounts around your campus on food, clothing, and more.</p>
				<p class="headerText">Earn money.</p>
				<p class="pane_header">Snap a photo of a discount you see, and make money when others redeem it.</p>
				<p class="headerText">Launching soon on select Boston campuses.</p>
				<img class="download" src="../img/google_play_soon.png">
				<img class="download" src="../img/app_store_soon.png">
			</div>
		</div>
		
	</body>
</html>