<html>
	<body>
	<p>
		<h2>Please log in:</h2>
	</p>
	<form id="loginForm" method="post" action="/merchants/login">
		Email: <input type="text" id="email" name="email">
		Password: <input type="password" id="pw" name="pw">
		<input type="submit" value="Login" onclick="validate();return(false)">
	</form>
	
	<p>
		<h2>Or <a href="./merchants/deal/new">sign up:</a></h2>
	</p>
	
	</body>
	<script type="text/javascript">google.load("jquery", "1.4.2");</script>
	<script src="/js/login.js"></script>
</html>

