<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Merchants</title>
		<meta name="description" content="Merchants portal" />
		<meta name="author" content="Levr" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<link rel="stylesheet" href="/css/login.css">
	</head>

	<body>
		<div id='main'>
			<div id="loginBox">
				<form id="loginForm" method="post" action="/merchants/login">
					<!-- <p id="loginWelcome">
					Welcome back!
					</p> -->
					<img id="logo" src="/img/levr.png" />
					<input class="loginInput" id="emailInput" type="text" placeholder="Email" name="email">
					<input class="loginInput" id="pwInput" type="password" placeholder="Password" name="pw">
					<input type="submit" id="btnLogin" class="button green" value="Login">
				</form>
				<span id="or" class="create"> or </span> <a id="signUp" class="create" href="./merchants/welcome">Create an account</a>
				<a href="forgot">Forgot Password</a>
			</div>

		</div>

	</body>
</html>

