{% extends "templates/merchantsBase.html" %}

{% block htmlhead %}
<link rel="stylesheet" href="../css/manageOffers.css">
{% endblock %}

{% block content %}
<div id='main'>
	<div id='tableDiv'>
		<h2>{{ business.business_name }}</h2>
		<table id="my-offers-table">
			<thead>
				<tr>
					<!-- 								<th>Image</th> -->
					<th>Offer</th>
					<th>Description</th>
					<th>Edit</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for deal in deals %}
				
				<tr>
					<!-- 								<td><img src="{{ deal['imgURL'] }}" /></td> -->
					<!-- 								<td><img src="0.0.0.0:8080/phone/img?dealID=tAv4ZDR8iEAh2w29fBwShIZWks6GJETWXYRvH1GZWk_7g-rjof2xMhOMygholuoUChDyDrrMSui1aMhOG9sX&size=dealDetail" /></td>  -->

					<td>{{ deal['dealText'] }} {{ deal['dealTextExtra'] }}</td>
					<td>{{ deal['description']}}</td>
					<td><a href="/merchants/editDeal?id={{ deal['dealID'] }}">edit</a></td>
					<td><a href="/merchants/deal/delete?id={{ deal['dealID'] }}" class='delete'>x</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
