{% extends "templates/merchantsBase.html" %}

{% block htmlhead %}
<link rel="stylesheet" href="../css/manageOffers.css">
<link href="http://fonts.googleapis.com/css?family=normal:300,400,600,700,800" rel="stylesheet" type="text/css">

<script src="../js/cufon-yui.js" type="text/javascript"></script>
<script src="../js/leagueGothic1.font.js" type="text/javascript"></script>
<script type="text/javascript">
	Cufon.replace('.statsText')
</script>

{% endblock %}

{% block content %}
<div id='main'>
	<div id="stats">
		<div id="s1" class="statsPane">
			<p id="viewsCap" class="statsText inlineCap">VIEWS:</p>
			<span id="viewsNum" class="statsText">224</span>
			<p id="rankingCap" class="statsText inlineCap">RANKING:</p>
			<span id="rankingNum" class="statsText">23</span>
			
			<!--p id="numView" class="statsText">32</p>
			<p id="capView" class="statsText">RANKING</p-->
		</div>
		<div id="s2" class="statsPane">
			<p id="numRedeem" class="statsText">93</p>
			<p id="capRedeem" class="statsText">REDEMPTIONS</p>
		</div>
		<div id="s3" class="statsPane">
			(pie chart here)
		</div>
	</div>
	<div id='tableDiv'>
		<h2>{{ business.business_name }}</h2>
		<table id="my-offers-table">
			<thead>
				<tr>
					<!-- 								<th>Image</th> -->
					<th>Offer</th>
					<th>Description</th>
					<th>Edit</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for deal in deals %}
				
				<tr>
					<!-- 								<td><img src="{{ deal['imgURL'] }}" /></td> -->
					<!-- 								<td><img src="0.0.0.0:8080/phone/img?dealID=tAv4ZDR8iEAh2w29fBwShIZWks6GJETWXYRvH1GZWk_7g-rjof2xMhOMygholuoUChDyDrrMSui1aMhOG9sX&size=dealDetail" /></td>  -->

					<td>{{ deal['dealText'] }} {{ deal['dealTextExtra'] }}</td>
					<td>{{ deal['description']}}</td>
					<td><a href="/merchants/editDeal?id={{ deal['dealID'] }}">edit</a></td>
					<td><a href="/merchants/deal/delete?id={{ deal['dealID'] }}" class='delete'>x</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
