<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/merchants.css">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<!--script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDA6oSrrTbFLHVqZSt2JGeJWFLVa9F0074&sensor=false&libraries=places"></script-->
      
	</head>
	<body>
		<div id="loginBox">
			<form id="loginForm" method="post" action="merchants/login">
				<p id="loginWelcome">Welcome back! </p>
				<input class="loginInput" id="emailInput" type="text" placeholder="Email" name="email">
				<input class="loginInput" id="pwInput" type="password" placeholder="Password" name="pw">
				<a id="btnHelp" class="button white">Help</a>
				<a id="btnLogin" class="button green">Login</a>
			</form>
			<div id="loginStub"><p id="loginStubText">Login</p></div>
		</div>
		<div id="top">
			<div id="bgimage"></div>
			<img id="iphonehand" src="../img/iphone_hand_trans.png">
			<div id="bigText">
				<p id="jumbotron">Be Discovered<span class="red">.</span></p>
				<p id="mediotron">Levr puts you in front of this big, huge, awesome userbase. Like wow! So rad. So anyways, like, buy the thing. KAPOW!</p>
				<p id="pricing">Levr is free while in Beta.</br>No card required.</p>
				
			</div>
			<a id="topButton" class="button green" href="#">Get Started For Free</a>
		</div>
		
		<div id="main">
			<p class="cellprompt">The features that make Levr awesome:</p>
			<div id="cellblock1" class="cellblock">
				<div class="cell">
					<object class="cellimg" data="../img/local.svg" type="image/svg+xml"></object>
					<p class="cellhead">Reach a Local Audience</p>
					<p class="cellsupport">Connect with a broad audience of local, interested potential customers.</p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/lock.svg" type="image/svg+xml"></object>
					<p class="cellhead">Own Your Offers</p>
					<p class="cellsupport">Control the content of your offers, from start to finish. </p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/stopwatch.svg" type="image/svg+xml"></object>
					<p class="cellhead">Launch Instantly</p>
					<p class="cellsupport">Create and launch an offer online, in less time than you've spent on this page.</p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/tag.svg" type="image/svg+xml"></object>
					<p class="cellhead">Upload From Store</p>
					<p class="cellsupport">Snap a photo or write a description of offers you already run in-store. Launch them via email or text.</p>
				</div>
				<span class="stretch"></span>
			</div>
			
			
			<p class="cellprompt">These advanced features give you even more information and control:</p>
			<div id="cellblock2" class="cellblock">
				<div class="cell">
					<object class="cellimg" data="../img/portal.svg" type="image/svg+xml"></object>
					<p class="cellhead">Loss Insights</p>
					<p class="cellsupport">Understand why customers passed over your offers.</p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/chart.svg" type="image/svg+xml"></object>
					<p class="cellhead">Analytics</p>
					<p class="cellsupport">See where your customers are coming from.</p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/abtest.svg" type="image/svg+xml"></object>
					<p class="cellhead">Split Test</p>
					<p class="cellsupport">Why guess? Run two versions of an offer at the same time, and see which performs better.</p>
				</div>
				<div class="cell">
					<object class="cellimg" data="../img/tag.svg" type="image/svg+xml"></object>
					<p class="cellhead">Upload From Store</p>
					<p class="cellsupport">Snap a photo or write a description of offers you already run in-store. Launch them via email or text.</p>
				</div>
				<span class="stretch"></span>
			</div>
			
			<div id="vidContainer">
				<div id="vidSpoof"><p style="text-align:center;width:100%;margin-top:150px;color:white">This is a video.</p></div>
				<p id="vidHeader">Want to see Levr in action?</p>
				<p id="vidPrompt">Levr is free while in Beta. No card required.</br><a id="bottomButton" class="button green" href="#">Get Started For Free</a></p>
				
			</div>
			
		</div>
		
		<div id="footer">
			<div id="footer-container">
				asd
			</div>
		</div>
	
		<script type="text/javascript">
			google.load("jquery", "1.4.2");
		</script>
		<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script-->
		<script src="../js/merchants.js"></script>
	</body>
</html>