<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to Levr.</title>
		<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
		<meta name="viewport" content="width = 600, initial-scale = 0.6, user-scalable = no">
		<meta name="author" content="Patrick Walsh, Alonso Holmes, Ethan Sherr">
		<!-- Le styles
		=======================================================-->
		<link href="../css/getlevrStyles.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="../img/favicon.png">
		<!-- End of Google Website Optimizer Tracking Script -->
		<!--script type="text/javascript">
			var _gaq = _gaq || [];
			var hasGaq = false;

			// ===== GWO STUFF ==== //
			/*
			// gwo account
			_gaq.push(['gwo._setAccount', 'UA-32183987-2']);
			_gaq.push(['gwo._trackPageview', '/4203962445/test']);
			function doGoal(that){
			try{
			_gaq.push(['gwo._trackPageview', '/4203962445/goal']);
			}catch(err){}
			}
			hasGaq = true;
			*/
			// ===== END GWO STUFF ==== //

			// analytics account ---- default tracker
			_gaq.push(['_setAccount', 'UA-32183987-1']);

			if(hasGaq === false) {
				_gaq.push(['_trackPageview']);
			} else {
				// ===== GWO STUFF ==== //
				if(utmx('combination') != undefined) {
					var l = document.location, s = l.search;
					s = s + (s.length ? '&' : '?') + 'combination=' + utmx('combination');
					_gaq.push(['_trackPageview', s]);
					// ===== END GWO STUFF ==== //
				} else {
					_gaq.push(['_trackPageview']);
				}
			}
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script-->
	</head>
	<body>
		<div id="main">
			<div id="topContainer">
				<div id="topContent">
					This is the merchants landing page
					<!-- image from pat here -->
				</div>
				
			</div>
		</div>
		<footer id="feet">
			<hr class="faded">
			<a class="footerLink" href="mailto:feedback@getlevr.com" target="_blank">Contact</a>
			<span class="divider">&#8226</span>
			<a class="footerLink" href="./merchants/manage">For Businesses</a>
			<span class="divider">&#8226</span>
			<a class="footerLink" href="http://www.angel.co/levr" target="_blank">Investors</a>
		</footer>
		
		

		<!-- scripts-->
		<!--script src="js/jquery-1.7.1.js"></script>
		<script src="js/launch.js"></script-->

	</body>
</html>
