<!DOCTYPE html>
<html>
	<head>
		<link href="../css/merchantBeta.css" rel="stylesheet">
		<title>Welcome to Levr.</title>
		<link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<body>
		<p id="headerText">Welcome to Levr.</p>
		<p id="subtitle">Be a part of the Levr trial phase, and get a free lifetime subscription.</p>
		<div id="container">
		
			<form id="signupForm" action="/beta/merchant" method="post">
				<input id="business_name" type="text" class="textIn" name="business_name" placeholder="Business Name">
				<input id="contact_name" type="text" class="textIn" name="contact_name" placeholder="Contact Name">
				<input id="contact_email" type="text" class="textIn" name="contact_email" placeholder="Contact Email">
				<input id="contact_phone" type="text" class="textIn" name="contact_phone" placeholder="Contact Phone">
				<p id="noSpam">No spam - we promise.</p>
				<button id="btnSubmit" type="submit" class="button green">Sign Up</button>
			</form>
		</div>
		<script src="../js/merchantBeta.js"
	</body>
</html>