<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/merchants.css">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<!--script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDA6oSrrTbFLHVqZSt2JGeJWFLVa9F0074&sensor=false&libraries=places"></script-->
      
	</head>
	<body>
		<div id="top">
			<div id="bgimage"></div>
			<div id="bigText">
				<p id="jumbotron">Be Discovered.</p>
				<p id="mediotron">Levr puts you in front of this big, huge, awesome userbase. Like wow! So rad. So anyways, like, buy the thing. KAPOW!</p>
			</div>
			
		</div>
	
		<script type="text/javascript">
			google.load("jquery", "1.4.2");
		</script>
		<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script-->
		<script src="../js/merchants.js"></script>
	</body>
</html>