<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
		<meta name="viewport" content="width = 600, initial-scale = 0.6, user-scalable = no">
		<meta name="author" content="Patrick Walsh, Alonso Holmes, Ethan Sherr">
		<!-- Le styles
		=======================================================-->
		<link href="../css/getlevrStyles.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="../img/favicon.png">

	</head>
	<body>
		<div id="header">
			{% if headerData.loggedIn == True %}
				<h3>This header displays when logged in</h3>
				<h4>Your name is {{ headerData.contact_owner }}</h4>
			{% else %}
				<h3>This header displays when NOT logged in</h3>
			{% endif %}
		</div>
		<div id="main">
			<div id="topContainer">
				<div id="topContent">
					This is the merchants landing page
					
				</div>
				
			</div>
		</div>
		<footer id="feet">
			<hr class="faded">
			<a class="footerLink" href="mailto:feedback@getlevr.com" target="_blank">Contact</a>
			<span class="divider">&#8226</span>
			<a class="footerLink" href="./merchants/manage">For Businesses</a>
			<span class="divider">&#8226</span>
			<a class="footerLink" href="http://www.angel.co/levr" target="_blank">Investors</a>
		</footer>
		
		

		<!-- scripts-->
		<!--script src="js/jquery-1.7.1.js"></script>
		<script src="js/launch.js"></script-->

	</body>
</html>
