<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Welcome to Levr.</title>
		<meta name="description" content="Merchants portal" />
		<meta name="author" content="Levr" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
		<link rel="stylesheet" href="/css/ninjas_landing.css">
		<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDA6oSrrTbFLHVqZSt2JGeJWFLVa9F0074&sensor=false&libraries=places"></script> -->
	</head>

	<body>
		<img id="shackleton" src="../img/shackleton.png">
	</body>
	
</html>