<html>
	<head>
		<meta charset="UTF-8">
		<meta property="og:image" content="http://getlevr.appspot.com/phone/img?size=facebook&dealID={{deal.dealID}}"/> 
		<meta property="og:title" content="Score! {{deal.deal_text}} at {{deal.business_name}}"/>
		<title>{{alias}} wants to share a deal with you.</title>
		<link href="../css/share_mobile.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<body>
		<p id="shareText">{{alias}} wants to share a deal with you.</p>
		<div id="container">
			<!--img src="http://getlevr.appspot.com/phone/img?size=dealDetail&dealID={{dealID}}"-->
			<div id="dealImg" style="background-image: url(/phone/img?size=dealDetail&dealID={{deal.dealID}});"></div>
			<p id='dealText'>{{deal.dealText}}</p>
			<p id='dealTextExtra'>{{deal.dealTextExtra}}</p>
			<p id='business_string'>{{deal.businessName}} - {{deal.vicinity}}</p>
			<p id="description">{{deal.description}}</p>	
			<img src="../img/divider_faded.png">
		<div id="app">
			<img id="phoneImg" src="../img/iphone_map.png"/>
			<div id="right">
				<img id="save_money" src="../img/save_money_text.png" style="width:300px;">
				<img src="../img/earn_money_text.png" style="width:300px;">
				<a id="download" href="#" class="button green">Download the Levr app for free.</a>
			</div>
		</div>
		</div>
	</body>
</html>